ol{
    background-color: aqua;
    color: black;
    border: 2px solid;
    margin: 20px;
    padding: 28px;
}

ul{
    background-color: rgb(14, 228, 78);
    color: black;
    border: 2px solid;
    margin: 20px;
    padding: 35px;
}
.demo3{
    color: blue;
    background-color: black;
}

.demo4{
    color: rgb(221, 8, 61);
    background-color: yellow;
}

.demo5{
    color: pink;
    background-color: brown;
}

.demo6{
    color: red;
    background-color: blueviolet;
    border: 2px solid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}